/** GENERAL **/
body {
  min-height: 740px;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  background-color: #ddd;
  -webkit-font-smoothing: antialiased;
}

/** STEP STYLES **/
.step {
  display: block;
  position: absolute;
  width: 900px;
  height: 400px;
  padding: 40px 60px;
  min-height: 500px;
  border: 10px solid rgba(0, 0, 0, 1);
  background-color: white;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  letter-spacing: -1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
}

/* fade out inactive slides */
.step:not(.active):not(.nested-active) {
  opacity: 0.3;
}

.step > .step {
  font-size: 70px;
}

/** NOT SUPPORTED STYLES **/
.not-supported .step {
  position: relative;
  margin: 20px auto;
  opacity: 1;
}
